/**
 * CSS Speech Bubble
 */

/* Credit : http://nicolasgallagher.com */

@include "variables"

.skewX(@deg: -15deg){
	-webkit-transform:skewX(@deg);
       -moz-transform:skewX(@deg);
        -ms-transform:skewX(@deg);
         -o-transform:skewX(@deg);
            transform:skewX(@deg);
}

.quote {
    position:relative;
    width:300px;
    padding:15px 25px 20px;
    margin:20px auto;
    font:italic 26px/1.4 Georgia, serif;
    color:@speechBubbleText;
    background:@speechBubbleBackground;
	
	:after {
		content:"";
		position:absolute;
		top:100%;
		right:25px;
		border-width:30px 30px 0 0;
		border-style:solid;
		border-color:@background transparent;
		/* css3 extras */
		.skewX(-15deg);
	}
}
.credit {
    margin:1em 0 0;
    font:14px/1.2 Arial, sans-serif;
	
	:before {
		content:"— ";
	}
}

blockquote, p {
	padding:0; 
	margin:0;
}